.main{
    display: flex;
    flex-direction: row;
}

.info{
    min-width: 50%;
    background-color: #ffffff;
    padding-top: 5rem;
}

.info .form{
    width: 100%;
    width: 40rem;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 2.8rem

}

.info .form .logoContainer{
    width: 8rem;
    padding-left: 10px;
    -webkit-animation: jello-diagonal-2 0.8s both;
	        animation: jello-diagonal-2 0.8s both;
}

.info .form .logoContainer img{
    width: 100%;
}

.info .form h1{
    font-size: 5.4rem;
    line-height: 1.2;
    margin-right: -1px;
    font-weight: 800;
    padding-left: 10px;
    color: var( --content-text);

    font-family: var(--main-h1);
}

.fieldContainer{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 7px 9px 7px;
    border: solid 1px #ccc;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 1.5px;
}

.fieldContainer:hover{
    border: solid 1.5px #a9a8a8;
    border-top: solid 2px #a9a8a8;
    
}

.fieldContainer .label{
    font-size: 1.6rem;
    color: var(--secondary-text);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 0.2rem;
    position: relative;
    top: 10px;
    display: block;
    transition: 0.2s;
    z-index: 1;
}

.field::placeholder {
    color: transparent;
}

.fieldContainer .field{
    display: block;
    border: none;
    outline: 0;
    font-size: 1.4rem;
    color: var( --primary-tex);
    background-color: transparent;
    z-index: 2;
}


.fieldContainer:has(.field:focus) {
    border: solid 2px var( --bright-blue);
    border-left: solid 3.5px var( --bright-blue);
    transition: 1ms;
}

.fieldContainer:has(.field:not(:placeholder-shown)) .label{
    top: 0;
    font-size: 1.4rem;
}

.fieldContainer:has(.field:focus) .label{
    color: var( --bright-blue);
    top: 0;
    font-size: 1.4rem;
}

.boxContainer:has(span) .fieldContainer{
    border: solid 1px #db6d7c;
    border-bottom: solid 2px #db6d7c;
    transition: 1ms;
}

.boxContainer:has(span) .fieldContainer .label{
    color: var(--errorText);
    top: 0;
    font-size: 1.4rem;
}

.boxContainer span{
    font-size: 1.4rem;
    margin-left: 1rem;
    color: var(--errorText);
}


.btn{
    width: 95%;
    margin: auto;
    justify-content: center;
}

.btn button{
    width: 100%;
    background-color: var(--orange);
    color: white;
    font-size: 1.4rem;
    padding: 1.7rem 0;
    border: none;
    font-weight: 600;
    border-radius: 3px;

    margin-top: 1.8rem;
}

.btn button:hover{
    background-color: var(--hoverButton);
    cursor: pointer;
}

.image{
    width: 50%;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.name{
    display: flex;
    flex-direction: row;

    padding: 0 1px;
    width: 95%;
    margin: auto;
    justify-content: space-between;

}


/* sign up name half fields */
.name .boxContainer{
    width: 45%;
}

.name .boxContainer .fieldContainer{
    padding: 7px 7px 12px;
}

.linearLine{
    background-color: rgb(238,237,242);
    min-width: 50px;
    width: 95%;
    margin: 2rem auto;
    height: 0.45rem;
    border-radius: 2px;
    overflow: hidden;
}

.mssg{
    position: relative;
    width: 95%;
    margin: 2rem 1rem;
    color: var(--secondary-text);
    font-size: 1.2rem;
}

.link{
    margin-left: 1rem;
    color: var(--bright-blue);
    font-size: 1.4rem;
    font-weight: 600;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.loader{
    margin: auto;
    justify-content: center;
}

@media screen and (max-width:960px) {
    .image{
        display: none;
    }

    .info{
        width: 100%;
        padding-top: 8rem;
    }
    
    .info .form{
        width: 50rem;
    }

}


/* ----------------------------------------------
 * Generated by Animista on 2023-3-4 8:35:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-diagonal-2
 * ----------------------------------------
 */
 @-webkit-keyframes jello-diagonal-2 {
    0% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
    30% {
      -webkit-transform: skew(-25deg -25deg);
              transform: skew(-25deg -25deg);
    }
    40% {
      -webkit-transform: skew(15deg, 15deg);
              transform: skew(15deg, 15deg);
    }
    50% {
      -webkit-transform: skew(-15deg, -15deg);
              transform: skew(-15deg, -15deg);
    }
    65% {
      -webkit-transform: skew(5deg, 5deg);
              transform: skew(5deg, 5deg);
    }
    75% {
      -webkit-transform: skew(-5deg, -5deg);
              transform: skew(-5deg, -5deg);
    }
    100% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
  }
  @keyframes jello-diagonal-2 {
    0% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
    30% {
      -webkit-transform: skew(-25deg -25deg);
              transform: skew(-25deg -25deg);
    }
    40% {
      -webkit-transform: skew(15deg, 15deg);
              transform: skew(15deg, 15deg);
    }
    50% {
      -webkit-transform: skew(-15deg, -15deg);
              transform: skew(-15deg, -15deg);
    }
    65% {
      -webkit-transform: skew(5deg, 5deg);
              transform: skew(5deg, 5deg);
    }
    75% {
      -webkit-transform: skew(-5deg, -5deg);
              transform: skew(-5deg, -5deg);
    }
    100% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
  }
  