.main
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100vh;
    width:32rem;
    border:1px solid var(--border-color);
    border-width: 100%;
    background-color: var(--primary-background);
    overflow-y:scroll;
    margin-left: 5.9rem;
}
.backbutton
{
    color: var(--bright-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.5rem;
    border-bottom: 2px solid var(--border-color);
    font-size:1.45rem;
    padding-bottom:1rem;
    font-weight: 550;
    margin-top:2rem;
    margin-bottom:1.4rem;
    padding-left: 3rem;
}
.backbutton:hover{
    cursor:pointer;
}
.backbuttontext
{
    padding-left:2rem;
}
.selector select
{
    box-shadow: 1,1,3,2 grey;
    width:fit-content;
    height: 4rem;
    border-radius: 15px;
    padding: 1rem;
    margin-left: 3rem;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}
.eventDescription
{
    display: flex;
    flex-direction: column;
}
.eventDescriptionText
{
    margin-top: 2rem;
    font-size: 1.65rem;
    color: var(--footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
}
.eventDescriptionText h2{
    padding-left: 3rem;
}
.eventDescriptionText p
{
    font-size:1.32rem;
    font-weight: 530;
    color:var(--moretext);
    margin-top: 1rem;
    margin-bottom:1rem;
    padding-left: 3rem;
}
.viewevent 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 30;
    color: var(--bright-blue);
    margin-bottom: 2rem;
    padding-left: 3rem;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-size: 1.5rem;
    gap:0.5rem;
}
.viewevent:hover
{
    color: var(--bright-blue);
    text-decoration: underline;
    cursor:pointer;
}
.eventMenu
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.eventMenu li
{
    font-size:1.5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3rem; 
    padding-top: 2rem;
    color: rgb(75,77,99);
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}
.eventMenu li:hover
{
    background-color: #e8e9ec;
    cursor:pointer;
}
.circle
{
    width:2.5rem;
    height:2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.4rem;
    background-color: var(--primary-text);
    margin-right: 1rem;
    color: white;
    font-size: 1.2rem;
}
.dashboardbtn
{
    cursor:pointer;
    border-top: 1px solid var(--border-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem; 
    font-size:1.5rem;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    color: var(--secondary-text);
}
.dashboardbtn:hover
{
    background-color: #e8e9ec;
    cursor:pointer;
}
.dashboardimg
{
    color: var(--faded-grey);
}
