.container{
    width: 100%;
}

.publish{
    padding: 5rem 8rem;
    font-family: var(--main-font);
}

.header{
    font-size: 3rem;
    font-weight: 600;
    color: var(--content-text);
}

.footer{
    width: calc(100% - 55rem);
    position: fixed;
    bottom: 0;
    background-color: white;
    display: flex;
    height: fit-content;
    padding-bottom: 2rem;
    flex-direction: column;
    border: none;
}

.btn{
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: .4rem;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    transition: ease .5s;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
}

.btn:hover{
    opacity: .8;
}

.section2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tipsHeader{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 400;
}

.tipsHeader>svg{
    background-color: #fff58c;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    padding: .5rem;

}

.options{
    background-color: var(--primary-background);
    padding: 2rem 4rem;
    margin: 2rem 0;
}

.options>p{
    display: flex;
    align-items: center;
    color: var(--bright-blue);
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-block: 1rem;
    transition: ease .5s;
}

.options>p:hover{
    text-decoration: underline;
    cursor: pointer;
    gap: 1.4rem;
}

.options>p>svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--bright-blue);
}

.form{
    width: 100%;
}
.boxContainer{
    /* font-family: var(--main-font); */
    color: var(--primary-text);
}

.fieldContainer{
    display: flex;
    flex-direction: column;
    margin-block: 3rem;
    gap: 2rem;
}

.fieldContainer>.dropDown{
    width: 30rem;
    flex-direction: column;
    align-items: start;
    border: solid 1px #ccc;
    border-radius: .3rem;
    gap: .2rem;
    justify-content: left;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
}

.dropDown:has(.field:focus) {
    border: solid 2px var( --bright-blue);
    border-left: solid 3.5px var( --bright-blue);
    transition: 1ms;
}

.dropDown:has(.field:focus)>span{
    color: var(--bright-blue);
}

.fieldContainerDate{
    width: 25rem;
    height: 5.2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: solid 1px #ccc;
    border-radius: .3rem;
}
.fieldContainerDate>label{
    font-size: 1.5rem;
    color: var(--secondary-text);
}
.fieldContainerDate:hover{
    border: solid 1px black;
}

.fieldContainerDate>input{
    all: unset;
}
.fieldContainer>label{
    font-size: 1.6rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}                       
.fieldTitle{
    font-size: 1.8rem;
    font-weight: 600;
}
.fieldDesc{
    margin-top: .5rem;
    font-size: 1.2rem !important;
    opacity: .9;
}
.containerstart{
    display: flex;
    gap:10px;
}

.field::placeholder {
    color: transparent;
}

.fieldContainer .field{
    border: none;
    outline: 0;
    font-size: 1.4rem;
    color: var( --primary-tex);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fieldContainerDate:has(.field:focus) {
    border: solid 2px var( --bright-blue);
    border-left: solid 3.5px var( --bright-blue);
    transition: 1ms;
}

.fieldContainer::placeholder{
 color:black;
}

.fieldContainer:has(.field) .label{
    top: 0;
    font-size: 1.2rem;
}

.disabled{
    background-color: #f8f7fa !important;
}
.disabledBorder:hover{
    border: solid 1px #ccc;
}

@media screen and (max-width:789px) {
    .publish{
        padding: 0;
    }
    .footer{
        width: 60%;
    }
    .btn{
        width: 100%;
    }
    .section2{
        grid-template-columns: 1fr;
    }
}