
.FilterNav{
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-background);
}
.Nav ul{
    display: flex;
}
.navItem{
    
    font-family: var(--main-h1);
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    padding-block: 2.5rem;
    padding-inline: 1.5rem;
    margin-block: auto;
    position: relative;
    white-space: nowrap;
}
.navItem hr{
   display:none;
}
.element
{
    color: var(--secondary-text);
}

.navItem .element:hover{
   
    color:var(--primary-color); 
    padding-bottom: .6rem;
    border-bottom: 2px black solid;
}

.clicked
{
    display: flex !important;
    padding-bottom: .7rem !important;
    border-bottom: 2px blue solid !important;
    color: var(--bright-blue) !important;
}


@media  screen and (max-width:1150px) {
    .FilterNav{
      overflow-x: scroll;
    }
}
  