.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--footer);
  color: #dbdae3;
  padding: 1.6rem;
  font-size: 12px;
  height: auto;
}

.footerdata {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footeritem {
  padding: 0 2rem;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
