.container{
    padding: 10rem;
}

.header {
    font-size: 3rem;
    font-weight: 800;
    color: var(--content-text);
  }
  
.cards{
    display:flex;
    width: 50rem;
    gap: 5rem;
}
.export{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.8rem;
    justify-content: flex-end;
    color: var(--bright-blue);
}


.salestable table {
    width: 100%;
    text-align: start;
  }
  
  table {
    border-bottom: 1px solid #eeedf2;
    margin-bottom: 1.5rem;
  }
  
  td {
    color: var(--primary-text);
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    padding: 1rem 0;
  }

  .sold {
    color: var(--bright-blue);
  }